<ion-header>

    <ion-navbar>
        <ion-title>TylerPage</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-item>
        <ion-title>Search For A Star Wars Character</ion-title>
        <ion-searchbar [(ngModel)]="name" type="text" placeholder="Character Name" (keyup)="findCharacter(name)"></ion-searchbar>
    </ion-item>
    <section>

        <ion-title *ngIf="(apiObservable | async) !== null">Search Results</ion-title>
        <ion-list>
            <ion-item *ngFor="let character of apiObservable | async">
                <ion-list-header>{{character.name}}</ion-list-header>
                <ion-grid>
                    <ion-row>
                        <ion-col col-6>

                            <ion-item><dt>Birth Year</dt></ion-item>
                            <ion-item>
                                <dd>{{character.birth_year}}</dd>
                            </ion-item>
                            <ion-item><dt>Gender</dt> </ion-item>
                            <ion-item>
                                <dd>{{character.gender}}</dd>
                            </ion-item>
                        </ion-col>
                        <ion-col col-6>
                            <dt>Eye Color</dt>
                            <dd>{{character.eye_color}}</dd>
                            <dt>Hair Color</dt>
                            <dd>{{character.hair_color}}</dd>

                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-6>
                            <dt>Height</dt>
                            <dd>{{character.height}}</dd>
                            <dt>Mass</dt>
                            <dd>{{character.mass}}</dd>
                        </ion-col>
                        <ion-col col-6>
                            <dt>Skin Color</dt>
                            <dd>{{character.skin_color}}</dd>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </ion-list>
    </section>
    <ion-grid>
        <ion-row>
            <ion-col col-3>This column will take 3 columns</ion-col>
            <ion-col col-3>This column will take 3 columns</ion-col>
            <ion-col col-3>This column will take 3 columns</ion-col>
            <ion-col col-3>This column will take 3 columns</ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6>This column will take 6 columns</ion-col>
            <ion-col col-6>This column will take 6 columns</ion-col>

        </ion-row>
    </ion-grid>

</ion-content>